Ï∂úÏ≤ò: 
[Machine Learning for Beginners with 7 Models](https://www.kaggle.com/mehmetzahitylmaz/machine-learning-for-beginners-with-7-models)

* Import Libraries and Datasets üîå
* Exploring Dataset üîç
* Spliting Numerical and Categorical Values ‚úÇÔ∏è
* Exploring Categorical Columns üî¶
* Spliting Columns for One Hot Encoding and Label Encoding ‚úçÔ∏è
* Investigating Missing Values üïµÔ∏è‚Äç‚ôÇÔ∏è
* Bring Data Together üìñ
* Split Data to Train and Test üëü
* Training our models üí™
* Compare Models Perfomance ‚ö°Ô∏è‚≠êÔ∏è
* Performance of Models and Last Words üéØ

In [12]:
# pandas & numpy Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
import numpy as np

# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ°úÏÑ∏Ïã±ÏùÑ ÏúÑÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨
from sklearn.preprocessing import LabelEncoder

# Í≤∞Ï∏°Í∞í Ï±ÑÏö∞Í∏∞ ÏúÑÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨
from sklearn.impute import SimpleImputer

# train dataÎ•º Î∂ÑÎ¶¨ÌïòÍ∏∞ ÏúÑÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨
from sklearn.model_selection import train_test_split

# ÏãúÍ∞ÅÌôî ÎèÑÍµ¨ ÎùºÏù¥Î∏åÎü¨Î¶¨
import matplotlib.pyplot as plt
import seaborn as sns

# To Train our data
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB, GaussianNB

# To evaluate and result we have
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score

# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
df=pd.read_csv("Kaggle/heart-2.csv")

In [39]:
# Í≤ΩÍ≥† ÌëúÏãú Ïà®Í∏∞Í∏∞
import warnings
warnings.filterwarnings("ignore")

# EXplorting Dataset

In [13]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,Male,asymptomatic,145,233,high,normal,150,no,2.3,0,0,fixed deffect,1
1,37,Male,non anginal pain,130,250,normal,S-T abnormanilty,187,no,3.5,0,0,reversible deffect,1
2,41,Female,atypical angina,130,204,normal,normal,172,no,1.4,2,0,reversible deffect,1
3,56,Male,atypical angina,120,236,normal,S-T abnormanilty,178,no,0.8,2,0,reversible deffect,1
4,57,Female,typical angina,120,354,normal,S-T abnormanilty,163,yes,0.6,2,0,reversible deffect,1

In [15]:
print("Rows:",len(df))

Rows: 303

In [19]:
# Numerical Data Summary
df.describe()

,age,trestbps,chol,thalach,oldpeak,slope,ca,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,131.623762,246.264026,149.646865,1.039604,1.399340,0.729373,0.544554
std,9.082101,17.538143,51.830751,22.905161,1.161075,0.616226,1.022606,0.498835
min,29.000000,94.000000,126.000000,71.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,120.000000,211.000000,133.500000,0.000000,1.000000,0.000000,0.000000
50%,55.000000,130.000000,240.000000,153.000000,0.800000,1.000000,0.000000,1.000000
75%,61.000000,140.000000,274.500000,166.000000,1.600000,2.000000,1.000000,1.000000
max,77.000000,200.000000,564.000000,202.000000,6.200000,2.000000,4.000000,1.000000

In [18]:
# Categorical Data Summary
df.describe(include=[np.object])

,sex,cp,fbs,restecg,exang,thal
count,303,303,303,303,303,303
unique,2,4,2,3,2,4
top,Male,typical angina,normal,S-T abnormanilty,no,reversible deffect
freq,207,143,258,152,204,166

# Numerical and Categorical Values Î∂ÑÎ¶¨

selec_dtypes Í∏∞Îä•ÏùÑ Ïù¥Ïö©ÌïòÏó¨ ÏõêÌïòÎäî Ïú†ÌòïÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Ï∂îÏ∂ú. 
* Í∞úÏ≤¥ Ïú†ÌòïÏùÑ Ìè¨Ìï®Ìï† Îïå Î¨∏ÏûêÏó¥ Ïó¥ÏùÑ ÏÑ†ÌÉù
* Í∞úÏ≤¥ Ïú†ÌòïÏùÑ Ï†úÏô∏Ìï† Îïå Ïà´Ïûê Ïó¥ÏùÑ ÏÑ†ÌÉù

In [20]:
numerical_column = df.select_dtypes(exclude="object").columns.tolist()
categorical_column= df.select_dtypes(include="object").columns.tolist()
print("Numerical Columns:", numerical_column)
print("Categorical_Columns:", categorical_column)

Numerical Columns: ['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'slope', 'ca', 'target']
Categorical_Columns: ['sex', 'cp', 'fbs', 'restecg', 'exang', 'thal']

# Categorical Columns 

Ïó¥Ïù¥ Í∞ÄÏßÄÍ≥† ÏûàÎäî unique Í∞íÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏúºÎ©∞, Ïù¥Îü∞ Ï†ïÎ≥¥Îäî Ï∂îÌõÑ Î∂ÑÎ¶¨ÌïòÏó¨ encodingÌï† ÏòàÏ†ï

In [21]:
df[categorical_column].describe()

,sex,cp,fbs,restecg,exang,thal
count,303,303,303,303,303,303
unique,2,4,2,3,2,4
top,Male,typical angina,normal,S-T abnormanilty,no,reversible deffect
freq,207,143,258,152,204,166

# Spliting Columns for One Hot Encoding and Label Encoding

Data Set ÏïàÏóêÎäî 6Í∞úÏùò Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎã§. One Hot EncodingÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Í≥†Ïú†Í∞íÏù¥ 10Í∞ú ÎØ∏ÎßåÍ≥º 2Í∞úÏù¥ÏÉÅÏù∏ Ïó¥Î°ú Î≥ÄÌôò  

ÎÇòÎ®∏ÏßÄ Ïó¥ÏùÄ Lable EncodingÏúºÎ°ú Î≥ÄÌôò(Í∞Å Í≥†Ïú† Î†àÏù¥Î∏åÎ†ù ÎåÄÌïú Ïà´Ïûê Í∞íÏùÑ Ï†úÍ≥µÌïòÎäî ÎåÄÏã† ÏÉà Ïó¥ÏùÑ Ï†ïÏùò ÌïòÏßÄ ÏïäÏùå)  

ÏÑ±Îä•Ïóê ÎÇòÏÅú ÏòÅÌñ•ÏùÑ ÎØ∏ÏπòÍ∏∞ ÎïåÎ¨∏Ïóê Ïó¥Ïóê 10Í∞úÏù¥ÏÉÅÏùò Í≥†Ïú†Í∞íÏùÑ Í∞ÄÏßÄÏßÄ ÏïäÎèÑÎ°ù One Hot EncodingÏùÑ ÏÇ¨Ïö©  

"Dummy Variable" Î¨∏Ï†úÍ∞Ä Î∞úÏÉùÌïòÎØÄÎ°ú Í≥†Ïú†Í∞í 2Í∞úÏóê One hot EncodingÏùÑ ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÏùå

In [23]:
# Get column names have less than 10 more than 2 unique values
to_one_hot_encoding = [col for col in categorical_column if df[col].nunique()<=10 and df[col].nunique()>2]

# Get Categorical Column names thoose are not in "to_one_hot_encoding"
to_label_encoding = [col for col in categorical_column if not col in to_one_hot_encoding]

print("TO One Hot Encoding:", to_one_hot_encoding)
print("TO Label Encoding:", to_label_encoding)

TO One Hot Encoding: ['cp', 'restecg', 'thal']
TO Label Encoding: ['sex', 'fbs', 'exang']

# Investingatign Missing Valeus

In [24]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# One Hot Encoding and Label Encoding

In [25]:
# ÎÇ¥Ïû•Îêú ÌåêÎã§ Ìï®Ïàò "get_delfmies()"Î•º ÏÇ¨Ïö©ÌïòÏó¨ One hot Encoding 
one_hot_encoding_colums = pd.get_dummies(df[to_one_hot_encoding])
one_hot_encoding_colums

,cp_asymptomatic,cp_atypical angina,cp_non anginal pain,cp_typical angina,restecg_2,restecg_S-T abnormanilty,restecg_normal,thal_deffect-3,thal_fixed deffect,thal_normal,thal_reversible deffect
0,1,0,0,0,0,0,1,0,1,0,0
1,0,0,1,0,0,1,0,0,0,0,1
2,0,1,0,0,0,0,1,0,0,0,1
3,0,1,0,0,0,1,0,0,0,0,1
4,0,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
298,0,0,0,1,0,1,0,1,0,0,0
299,1,0,0,0,0,1,0,1,0,0,0
300,0,0,0,1,0,1,0,1,0,0,0
301,0,0,0,1,0,1,0,1,0,0,0
302,0,1,0,0,0,0,1,0,0,0,1

In [28]:
# Label Encoding 

label_encoded_columns =[]

for col in to_label_encoding:
    # Í∞Å ÏÉàÎ°úÏö¥ Ïª¨ÎüºÏóê ÎåÄÌïú ÏÉàÎ°úÏö¥ label encoderÎ°ú Ï†ïÏùò
    le = LabelEncoder()
    # Encode ÌïòÍ≥† Ïù¥Ïóê ÎåÄÌïú ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÏÉùÏÑ±
    # Ïª¨ÎüºÎ™ÖÏùÑ "contraction"ÏúºÎ°ú ÏßÄÏ†ï
    column_dataframe = pd.DataFrame(le.fit_transform(df[col]),
                                   columns=[col])
    # "label_encoded_columns"Î¶¨Ïä§Ìä∏Ïóê ÏÉàÎ°úÏö¥ DataFrameÏùÑ Ï∂îÍ∞Ä
    label_encoded_columns.append(column_dataframe)
    
# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ìï©ÏπòÍ∏∞(Merge)
label_encoded_columns = pd.concat(label_encoded_columns, axis=1)
label_encoded_columns

     sex  fbs  exang
0      1    0      0
1      1    1      0
2      0    1      0
3      1    1      0
4      0    1      1
..   ...  ...    ...
298    0    1      1
299    1    1      0
300    1    0      0
301    1    1      1
302    0    1      0

[303 rows x 3 columns]

# Bring Data Together

Î≥ÄÍ≤ΩÎêú Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏ÏôÄ ÌïúÍ∞úÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í≥† ÏãúÌóòÌïòÍ∏∞

In [32]:
#  Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Î≥µÏÇ¨ÌïòÏó¨ X Î≥ÄÏàòÎ°ú Ï†ïÏùò 
X=df.copy()

# Categorical columns Î≤ÑÎ¶¨Í∏∞
X.drop(categorical_column, axis=1, inplace=True)

# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ìï©ÏπòÍ∏∞
X = pd.concat([X, one_hot_encoding_colums, label_encoded_columns], axis=1)
print("All columns:", X.columns.tolist())
X

All columns: ['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'slope', 'ca', 'target', 'cp_asymptomatic', 'cp_atypical angina', 'cp_non anginal pain', 'cp_typical angina', 'restecg_2', 'restecg_S-T abnormanilty', 'restecg_normal', 'thal_deffect-3', 'thal_fixed deffect', 'thal_normal', 'thal_reversible deffect', 'sex', 'fbs', 'exang']

,age,trestbps,chol,thalach,oldpeak,slope,ca,target,cp_asymptomatic,cp_atypical angina,...,restecg_2,restecg_S-T abnormanilty,restecg_normal,thal_deffect-3,thal_fixed deffect,thal_normal,thal_reversible deffect,sex,fbs,exang
0,63,145,233,150,2.3,0,0,1,1,0,...,0,0,1,0,1,0,0,1,0,0
1,37,130,250,187,3.5,0,0,1,0,0,...,0,1,0,0,0,0,1,1,1,0
2,41,130,204,172,1.4,2,0,1,0,1,...,0,0,1,0,0,0,1,0,1,0
3,56,120,236,178,0.8,2,0,1,0,1,...,0,1,0,0,0,0,1,1,1,0
4,57,120,354,163,0.6,2,0,1,0,0,...,0,1,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,140,241,123,0.2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,1
299,45,110,264,132,1.2,1,0,0,1,0,...,0,1,0,1,0,0,0,1,1,0
300,68,144,193,141,3.4,1,2,0,0,0,...,0,1,0,1,0,0,0,1,0,0
301,57,130,131,115,1.2,1,1,0,0,0,...,0,1,0,1,0,0,0,1,1,1
302,57,130,236,174,0.0,1,1,0,0,1,...,0,0,1,0,0,0,1,0,1,0

# Train & Test Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÍ∏∞

Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÏùÑ ÎèåÎ¶¨Í∏∞ ÏúÑÌïú Train & Test Î°ú ÎÇòÎàî  

Î®ºÏ†Ä XÏôÄ Y Îëê Í∑∏Î£πÏúºÎ°ú ÎÇòÎàî

X Îäî Target ColumnÏù¥ ÏóÜÎäî Îç∞Ïù¥ÌÑ∞  
Y Îäî ÏòàÏ∏°ÏùÑ ÏúÑÌïú Target

In [33]:
# YÏóê ÎåÄÌïú Ï†ïÏùò (ÏòàÏ∏°ÏùÑ ÏúÑÌïú Í∞í)
y=df["target"]

# XÏùò "class" Î≤ÑÎ¶¨Í∏∞
X.drop(["target"], axis=1, inplace=True)
X

,age,trestbps,chol,thalach,oldpeak,slope,ca,cp_asymptomatic,cp_atypical angina,cp_non anginal pain,...,restecg_2,restecg_S-T abnormanilty,restecg_normal,thal_deffect-3,thal_fixed deffect,thal_normal,thal_reversible deffect,sex,fbs,exang
0,63,145,233,150,2.3,0,0,1,0,0,...,0,0,1,0,1,0,0,1,0,0
1,37,130,250,187,3.5,0,0,0,0,1,...,0,1,0,0,0,0,1,1,1,0
2,41,130,204,172,1.4,2,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
3,56,120,236,178,0.8,2,0,0,1,0,...,0,1,0,0,0,0,1,1,1,0
4,57,120,354,163,0.6,2,0,0,0,0,...,0,1,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,140,241,123,0.2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,1
299,45,110,264,132,1.2,1,0,1,0,0,...,0,1,0,1,0,0,0,1,1,0
300,68,144,193,141,3.4,1,2,0,0,0,...,0,1,0,1,0,0,0,1,0,0
301,57,130,131,115,1.2,1,1,0,0,0,...,0,1,0,1,0,0,0,1,1,1
302,57,130,236,174,0.0,1,1,0,1,0,...,0,0,1,0,0,0,1,0,1,0

**train & test Î∂ÑÎ¶¨**

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

# Train

Í∞ÄÏû• Ï†ÅÌï©Ìïú Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÏùÑ Ï∞æÍ∏∞ ÏúÑÌï¥ÏÑú Î™áÍ∞úÏùò Î™®Îç∏ÏùÑ ÏÇ¨Ïö©Ìï† Í≤É 

nominal values ("True or False" or "Category A, Category B, C .." ÏôÄ Í∞ôÏùÄ ÌÉÄÏûÖ) ÏòàÏ∏°ÏùÑ ÏúÑÌï¥ÏÑú ClassifiersÎ•º ÏÇ¨Ïö©  

numerical Í∞í(exp. ÌöåÏÇ¨ Í∏âÏó¨)ÏùÑ ÏòàÏ∏°ÌïòÍ∏∞ ÏúÑÌï¥ÏÑúÎäî ReggressorsÎ•º ÏÇ¨Ïö© 

ÏÇ¨Ïö©Ìï¥Î≥º ÏïåÍ≥†Î¶¨Ï¶òÎì§ :   

* Random Forest 
* Desicion Tree
* Logistic Regression Classifier
* Bernouilli Naive Bias
* Gaussian Naive Bias
* KNN (K-Nearest Neighbors)
* XGBoost

## Random Forest
Random forest Îäî n_estimatorÏù∏ÏàòÍ∞Ä ÌïÑÏöîÌïòÏßÄ ÏïäÏùÄ ÏïåÍ≥†Î¶¨Ï¶ò Ï§ëÏóê ÌïòÎÇò
n_estimatorÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Îã§Î•∏ ÏòàÏ∏°ÏùÑ ÏñªÏùÑ Ïàò ÏûàÏùå
ÌïòÏßÄÎßå ÎÑàÎ¨¥ ÎßéÏù¥ ÎäòÎ¶¨Î©¥ Ïã§Ï†úÎ°ú ÏõêÌïòÏßÄ ÏïäÏùÄ Í≥ºÎèÑÌïú trainÎêú Î™®Îç∏Ïù¥ ÎÇòÏò¨ Ïàò ÏûàÏúºÎØÄÎ°ú Ï£ºÏùò ÌïÑÏöî

In [36]:
# Random Forest Î™®Îç∏ Ï†ïÏùò
rf = RandomForestClassifier(n_estimators=100)

# We fit our model with our train data
rf.fit(X_train, y_train)

# X_test Îç∞Ïù¥ÌÑ∞Ïùò ÏòàÏ∏°Í≤∞Í≥º
pred_rf=rf.predict(X_test)

# See First 10 Predictionis and They Actual Values
print("Predicted:", pred_rf[0:10])
print("Actual:", y_test[0:10])

Predicted: [0 1 0 1 1 1 1 1 1 1]
Actual: 256    0
93     1
239    0
261    0
119    1
92     1
104    1
125    1
137    1
82     1
Name: target, dtype: int64

## Decision Tree

In [37]:
# define Decision Tree Model
dt = DecisionTreeClassifier()

# We fit our model with our train data
dt.fit(X_train, y_train)

# Then predict results from X-test data
pred_dt = dt.predict(X_test)

# See First 10 Predicatoins and They Actual Values
print("Predicted: ", pred_dt[0:10])
print("Actual: ", y_test[0:10])

Predicted:  [0 0 0 0 1 1 1 1 0 1]
Actual:  256    0
93     1
239    0
261    0
119    1
92     1
104    1
125    1
137    1
82     1
Name: target, dtype: int64

## Logistic Regression

In [40]:
# define Decision Tree Model
log = LogisticRegression()

# We fit our model with our train data
log.fit(X_train, y_train)

# Then predict results from X-test data
pred_log=log.predict(X_test)

# See First 10 Predicatoins and They Actual Values
print("Predicted: ", pred_log[0:10])
print("Actual:", y_test[0:10])

Predicted:  [0 1 0 1 0 1 1 1 1 1]
Actual: 256    0
93     1
239    0
261    0
119    1
92     1
104    1
125    1
137    1
82     1
Name: target, dtype: int64

## Bernouilli Naive Bias

In [41]:
# define Decision Tree Model
bnb = BernoulliNB()

# We fit our model with our train data
bnb.fit(X_train, y_train)

# Then predict results from X-test data
pred_bnb = bnb.predict(X_test)

# See First 10 Predicatoins and They Actual Values
print("Predicted: ", pred_bnb[0:10])
print("Actual:", y_test[0:10])

Predicted:  [0 1 0 1 1 1 1 1 1 1]
Actual: 256    0
93     1
239    0
261    0
119    1
92     1
104    1
125    1
137    1
82     1
Name: target, dtype: int64

## Gaussian Naive BIas

In [44]:
# define Decision Tree Model
gnb=GaussianNB()

# We fit our model with our train data
gnb.fit(X_train, y_train)

# Then predict results from X-test data
pred_gnb= gnb.predict(X_test)

# See First 10 Predicatoins and They Actual Values
print("Predicted: ", pred_gnb[0:10])
print("Actual:", y_test[0:10])

Predicted:  [0 1 0 1 1 1 1 1 1 1]
Actual: 256    0
93     1
239    0
261    0
119    1
92     1
104    1
125    1
137    1
82     1
Name: target, dtype: int64

## KNN(K-Nearest Neighbors)

KNNÏùÄ Îç∞Ïù¥ÌÑ∞ Í∞ÄÏû• Í∞ÄÍπåÏö¥ ÏöîÏÜåÏùò Í≥ÑÏÇ∞ Í∏∞Î∞ò   
KNNÏùÄ "n_neighbors"ÏôÄ "filename"Ïùò Î™áÍ∞ÄÏßÄ Ïù∏ÏàòÎ•º ÏÇ¨Ïö©  
"n_neighbors"ÏùÄ Í≤∞Í≥ºÎ•º ÏòàÏ∏°ÌïòÎäî Îç∞ ÏÇ¨Ïö©Ìï† Í∞ÄÏû• Í∞ÄÍπåÏö¥ neighbrosÏùò ÏàòÏûÑ  
"metric"ÏùÄ neighborsÏôÄÏùò Í±∞Î¶¨Î•º Í≥ÑÏÇ∞ÌïòÎäî Î∞©Î≤ï

In [45]:
# define Decision Tree Model
knn = KNeighborsClassifier(n_neighbors=3, metric="minkowski")

# We fit our model with our train data
knn.fit(X_train, y_train)

# Then predict results from X-test data
pred_knn=knn.predict(X_test)

# See First 10 Predicatoins and They Actual Values
print("Predicted: ", pred_knn[0:10])
print("Actual:", y_test[0:10])

Predicted:  [0 0 0 1 1 1 1 1 0 1]
Actual: 256    0
93     1
239    0
261    0
119    1
92     1
104    1
125    1
137    1
82     1
Name: target, dtype: int64

## XGBoost
gradient boostingÏùÑ Í∏∞Î∞òÏúºÎ°ú ÌïòÎäî ÎùºÏù¥Î∏åÎü¨Î¶¨  
Îß§Ïö∞ Îπ†Î•¥Í≥† Ï†ïÌôïÌïòÏßÄÎßå Í∏∞Îä•ÏùÑ Ïûò ÌôúÏö©ÌïòÎ†§Î©¥ ÏßÄÏãùÏù¥ ÌïÑÏöîÌïòÎã§.

In [47]:
# define Decision Tree Model
xgb = XGBClassifier(n_estimators=1000, learning_rate=0.05)

# We fit our model with our train data
xgb.fit(X_train, y_train,
       early_stopping_rounds=5,
        # 5Î≤à Ïù¥ÎÇ¥Ïóê Ìñ•ÏÉÅÏãúÌÇ§ÏßÄ ÏïäÏúºÎ©¥ Î©àÏ∂§
        # ÏãúÍ∞Ñ Ï†àÏïΩ Ìï† Ïàò ÏûàÍº¨ overtrianÌïòÏßÄ ÏïäÏùÑ Ïàò ÏûàÏùå
       eval_set=[(X_test, y_test)],
        # Î™®Îç∏ ÏÑ±Îä•ÏùÑ ÌèâÍ∞ÄÌïòÍ∏∞ ÏúÑÌï¥ testÎç∞Ïù¥ÌÑ∞Î•º Ï†úÍ≥µ 
       verbose=False)

# Then predict results from X-test data
pred_xgb = xgb.predict(X_test)

# See First 10 Predicatoins and They Actual Values
print("Predicted: ", pred_xgb[0:10])
print("Actual:", y_test[0:10])

[20:40:18] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Predicted:  [0 1 0 1 0 1 1 1 1 1]
Actual: 256    0
93     1
239    0
261    0
119    1
92     1
104    1
125    1
137    1
82     1
Name: target, dtype: int64

## Î™®Îç∏ ÏÑ±Îä• ÎπÑÍµê

**"Confusion Matrix"  ÏôÄ "Accuracy_score"** Î•º ÏÇ¨Ïö©ÌïòÏó¨ Î™®Îç∏ÏÑ±Îä•ÏùÑ ÎπÑÍµêÌïòÏó¨ ÏµúÍ≥† ÏÑ±Îä•Ïùò Î™®Îç∏ ÏÑ†ÌÉù

### Confusion Matrixes

In [49]:
# Confusion Matrixes
# Ï≤´Î≤àÏß∏ ÌååÎùºÎØ∏ÌÑ∞Îäî Ïã§Ï†úÍ∞í
# ÎëêÎ≤àÏß∏ ÌååÎùºÎØ∏ÌÑ∞Îäî ÏòàÏÉÅÌïú Í∞í

# Random Forest
cm_rf=confusion_matrix(y_test, pred_rf)
# Decisoin Tree
cm_dt=confusion_matrix(y_test, pred_dt)
# Logistic Regression
cm_log=confusion_matrix(y_test, pred_log)
# Bernouili Naive Bias
cm_bnb=confusion_matrix(y_test, pred_bnb)
# Gaussian Naive Bias
cm_gnb=confusion_matrix(y_test, pred_gnb)
# KNN(K-Nearest Neighbors)
cm_knn=confusion_matrix(y_test, pred_knn)
# XGBoost
cm_xgb=confusion_matrix(y_test, pred_xgb)

print("***********************")
print("Confusion Matrixes")
print("***********************")
print("Random Forest:\n", cm_rf)
print("Decision Tree:\n", cm_dt)
print("Logistic Regression:\n", cm_log)
print("Bernouili Naive Bias:\n", cm_bnb)
print("Gaussian Naive Bias:\n", cm_gnb)
print("KNN (K-Nearest Neighbors):\n", cm_knn)
print("XGBoost:\n", cm_xgb)

***********************
Confusion Matrixes
***********************
Random Forest:
 [[34  7]
 [13 46]]
Decision Tree:
 [[31 10]
 [24 35]]
Logistic Regression:
 [[32  9]
 [ 9 50]]
Bernouili Naive Bias:
 [[33  8]
 [10 49]]
Gaussian Naive Bias:
 [[29 12]
 [ 4 55]]
KNN (K-Nearest Neighbors):
 [[25 16]
 [22 37]]
XGBoost:
 [[35  6]
 [19 40]]

In [50]:
# Accuracy Scores
# Ï≤´Î≤àÏß∏ ÌååÎùºÎØ∏ÌÑ∞Îäî Ïã§Ï†úÍ∞í
# ÎëêÎ≤àÏß∏ ÌååÎùºÎØ∏ÌÑ∞Îäî ÏòàÏÉÅÌïú Í∞í

# Random Forest
acc_rf=accuracy_score(y_test, pred_rf)
# Decisoin Tree
acc_dt=accuracy_score(y_test, pred_dt)
# Logistic Regression
acc_log=accuracy_score(y_test, pred_log)
# Bernouili Naive Bias
acc_bnb=accuracy_score(y_test, pred_bnb)
# Gaussian Naive Bias
acc_gnb=accuracy_score(y_test, pred_gnb)
# KNN(K-Nearest Neighbors)
acc_knn=accuracy_score(y_test, pred_knn)
# XGBoost
acc_xgb=accuracy_score(y_test, pred_xgb)

print("***********************")
print("Accuracy Score")
print("***********************")
print("Random Forest:\n", acc_rf)
print("Decision Tree:\n", acc_dt)
print("Logistic Regression:\n", acc_log)
print("Bernouili Naive Bias:\n", acc_bnb)
print("Gaussian Naive Bias:\n", acc_gnb)
print("KNN (K-Nearest Neighbors):\n", acc_knn)
print("XGBoost:\n", acc_xgb)

***********************
Accuracy Score
***********************
Random Forest:
 0.8
Decision Tree:
 0.66
Logistic Regression:
 0.82
Bernouili Naive Bias:
 0.82
Gaussian Naive Bias:
 0.84
KNN (K-Nearest Neighbors):
 0.62
XGBoost:
 0.75